node_modules/.yarn-integrity
node_modules/.bin/tsc
node_modules/.bin/tsserver
node_modules/typescript/AUTHORS.md
node_modules/typescript/CODE_OF_CONDUCT.md
node_modules/typescript/CopyrightNotice.txt
node_modules/typescript/LICENSE.txt
node_modules/typescript/package.json
node_modules/typescript/README.md
node_modules/typescript/ThirdPartyNoticeText.txt
node_modules/typescript/bin/tsc
node_modules/typescript/bin/tsserver
node_modules/typescript/lib/cancellationToken.js
node_modules/typescript/lib/diagnosticMessages.generated.json
node_modules/typescript/lib/lib.d.ts
node_modules/typescript/lib/lib.dom.d.ts
node_modules/typescript/lib/lib.dom.iterable.d.ts
node_modules/typescript/lib/lib.es5.d.ts
node_modules/typescript/lib/lib.es6.d.ts
node_modules/typescript/lib/lib.es2015.collection.d.ts
node_modules/typescript/lib/lib.es2015.core.d.ts
node_modules/typescript/lib/lib.es2015.d.ts
node_modules/typescript/lib/lib.es2015.generator.d.ts
node_modules/typescript/lib/lib.es2015.iterable.d.ts
node_modules/typescript/lib/lib.es2015.promise.d.ts
node_modules/typescript/lib/lib.es2015.proxy.d.ts
node_modules/typescript/lib/lib.es2015.reflect.d.ts
node_modules/typescript/lib/lib.es2015.symbol.d.ts
node_modules/typescript/lib/lib.es2015.symbol.wellknown.d.ts
node_modules/typescript/lib/lib.es2016.array.include.d.ts
node_modules/typescript/lib/lib.es2016.d.ts
node_modules/typescript/lib/lib.es2016.full.d.ts
node_modules/typescript/lib/lib.es2017.d.ts
node_modules/typescript/lib/lib.es2017.full.d.ts
node_modules/typescript/lib/lib.es2017.intl.d.ts
node_modules/typescript/lib/lib.es2017.object.d.ts
node_modules/typescript/lib/lib.es2017.sharedmemory.d.ts
node_modules/typescript/lib/lib.es2017.string.d.ts
node_modules/typescript/lib/lib.es2017.typedarrays.d.ts
node_modules/typescript/lib/lib.es2018.asyncgenerator.d.ts
node_modules/typescript/lib/lib.es2018.asynciterable.d.ts
node_modules/typescript/lib/lib.es2018.d.ts
node_modules/typescript/lib/lib.es2018.full.d.ts
node_modules/typescript/lib/lib.es2018.intl.d.ts
node_modules/typescript/lib/lib.es2018.promise.d.ts
node_modules/typescript/lib/lib.es2018.regexp.d.ts
node_modules/typescript/lib/lib.es2019.array.d.ts
node_modules/typescript/lib/lib.es2019.d.ts
node_modules/typescript/lib/lib.es2019.full.d.ts
node_modules/typescript/lib/lib.es2019.object.d.ts
node_modules/typescript/lib/lib.es2019.string.d.ts
node_modules/typescript/lib/lib.es2019.symbol.d.ts
node_modules/typescript/lib/lib.es2020.bigint.d.ts
node_modules/typescript/lib/lib.es2020.d.ts
node_modules/typescript/lib/lib.es2020.full.d.ts
node_modules/typescript/lib/lib.es2020.promise.d.ts
node_modules/typescript/lib/lib.es2020.string.d.ts
node_modules/typescript/lib/lib.es2020.symbol.wellknown.d.ts
node_modules/typescript/lib/lib.esnext.array.d.ts
node_modules/typescript/lib/lib.esnext.asynciterable.d.ts
node_modules/typescript/lib/lib.esnext.bigint.d.ts
node_modules/typescript/lib/lib.esnext.d.ts
node_modules/typescript/lib/lib.esnext.full.d.ts
node_modules/typescript/lib/lib.esnext.intl.d.ts
node_modules/typescript/lib/lib.esnext.symbol.d.ts
node_modules/typescript/lib/lib.scripthost.d.ts
node_modules/typescript/lib/lib.webworker.d.ts
node_modules/typescript/lib/lib.webworker.importscripts.d.ts
node_modules/typescript/lib/protocol.d.ts
node_modules/typescript/lib/README.md
node_modules/typescript/lib/tsc.js
node_modules/typescript/lib/tsserver.js
node_modules/typescript/lib/tsserverlibrary.d.ts
node_modules/typescript/lib/tsserverlibrary.js
node_modules/typescript/lib/typescript.d.ts
node_modules/typescript/lib/typescript.js
node_modules/typescript/lib/typescriptServices.d.ts
node_modules/typescript/lib/typescriptServices.js
node_modules/typescript/lib/typesMap.json
node_modules/typescript/lib/typingsInstaller.js
node_modules/typescript/lib/watchGuard.js
node_modules/typescript/lib/cs/diagnosticMessages.generated.json
node_modules/typescript/lib/de/diagnosticMessages.generated.json
node_modules/typescript/lib/es/diagnosticMessages.generated.json
node_modules/typescript/lib/fr/diagnosticMessages.generated.json
node_modules/typescript/lib/it/diagnosticMessages.generated.json
node_modules/typescript/lib/ja/diagnosticMessages.generated.json
node_modules/typescript/lib/ko/diagnosticMessages.generated.json
node_modules/typescript/lib/pl/diagnosticMessages.generated.json
node_modules/typescript/lib/pt-br/diagnosticMessages.generated.json
node_modules/typescript/lib/ru/diagnosticMessages.generated.json
node_modules/typescript/lib/tr/diagnosticMessages.generated.json
node_modules/typescript/lib/zh-cn/diagnosticMessages.generated.json
node_modules/typescript/lib/zh-tw/diagnosticMessages.generated.json
node_modules/typescript/loc/lcl/CHS/Targets/ProjectItemsSchema.xaml.lcl
node_modules/typescript/loc/lcl/CHS/Targets/TypeScriptCompile.xaml.lcl
node_modules/typescript/loc/lcl/CHS/Targets/TypeScriptProjectProperties.xaml.lcl
node_modules/typescript/loc/lcl/CHS/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
node_modules/typescript/loc/lcl/CHS/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
node_modules/typescript/loc/lcl/CHS/TypeScriptTasks/TypeScript.Tasks.dll.lcl
node_modules/typescript/loc/lcl/CHT/Targets/ProjectItemsSchema.xaml.lcl
node_modules/typescript/loc/lcl/CHT/Targets/TypeScriptCompile.xaml.lcl
node_modules/typescript/loc/lcl/CHT/Targets/TypeScriptProjectProperties.xaml.lcl
node_modules/typescript/loc/lcl/CHT/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
node_modules/typescript/loc/lcl/CHT/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
node_modules/typescript/loc/lcl/CHT/TypeScriptTasks/TypeScript.Tasks.dll.lcl
node_modules/typescript/loc/lcl/CSY/Targets/ProjectItemsSchema.xaml.lcl
node_modules/typescript/loc/lcl/CSY/Targets/TypeScriptCompile.xaml.lcl
node_modules/typescript/loc/lcl/CSY/Targets/TypeScriptProjectProperties.xaml.lcl
node_modules/typescript/loc/lcl/CSY/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
node_modules/typescript/loc/lcl/CSY/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
node_modules/typescript/loc/lcl/CSY/TypeScriptTasks/TypeScript.Tasks.dll.lcl
node_modules/typescript/loc/lcl/DEU/Targets/ProjectItemsSchema.xaml.lcl
node_modules/typescript/loc/lcl/DEU/Targets/TypeScriptCompile.xaml.lcl
node_modules/typescript/loc/lcl/DEU/Targets/TypeScriptProjectProperties.xaml.lcl
node_modules/typescript/loc/lcl/DEU/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
node_modules/typescript/loc/lcl/DEU/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
node_modules/typescript/loc/lcl/DEU/TypeScriptTasks/TypeScript.Tasks.dll.lcl
node_modules/typescript/loc/lcl/ESN/Targets/ProjectItemsSchema.xaml.lcl
node_modules/typescript/loc/lcl/ESN/Targets/TypeScriptCompile.xaml.lcl
node_modules/typescript/loc/lcl/ESN/Targets/TypeScriptProjectProperties.xaml.lcl
node_modules/typescript/loc/lcl/ESN/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
node_modules/typescript/loc/lcl/ESN/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
node_modules/typescript/loc/lcl/ESN/TypeScriptTasks/TypeScript.Tasks.dll.lcl
node_modules/typescript/loc/lcl/FRA/Targets/ProjectItemsSchema.xaml.lcl
node_modules/typescript/loc/lcl/FRA/Targets/TypeScriptCompile.xaml.lcl
node_modules/typescript/loc/lcl/FRA/Targets/TypeScriptProjectProperties.xaml.lcl
node_modules/typescript/loc/lcl/FRA/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
node_modules/typescript/loc/lcl/FRA/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
node_modules/typescript/loc/lcl/FRA/TypeScriptTasks/TypeScript.Tasks.dll.lcl
node_modules/typescript/loc/lcl/ITA/Targets/ProjectItemsSchema.xaml.lcl
node_modules/typescript/loc/lcl/ITA/Targets/TypeScriptCompile.xaml.lcl
node_modules/typescript/loc/lcl/ITA/Targets/TypeScriptProjectProperties.xaml.lcl
node_modules/typescript/loc/lcl/ITA/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
node_modules/typescript/loc/lcl/ITA/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
node_modules/typescript/loc/lcl/ITA/TypeScriptTasks/TypeScript.Tasks.dll.lcl
node_modules/typescript/loc/lcl/JPN/Targets/ProjectItemsSchema.xaml.lcl
node_modules/typescript/loc/lcl/JPN/Targets/TypeScriptCompile.xaml.lcl
node_modules/typescript/loc/lcl/JPN/Targets/TypeScriptProjectProperties.xaml.lcl
node_modules/typescript/loc/lcl/JPN/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
node_modules/typescript/loc/lcl/JPN/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
node_modules/typescript/loc/lcl/JPN/TypeScriptTasks/TypeScript.Tasks.dll.lcl
node_modules/typescript/loc/lcl/KOR/Targets/ProjectItemsSchema.xaml.lcl
node_modules/typescript/loc/lcl/KOR/Targets/TypeScriptCompile.xaml.lcl
node_modules/typescript/loc/lcl/KOR/Targets/TypeScriptProjectProperties.xaml.lcl
node_modules/typescript/loc/lcl/KOR/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
node_modules/typescript/loc/lcl/KOR/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
node_modules/typescript/loc/lcl/KOR/TypeScriptTasks/TypeScript.Tasks.dll.lcl
node_modules/typescript/loc/lcl/PLK/Targets/ProjectItemsSchema.xaml.lcl
node_modules/typescript/loc/lcl/PLK/Targets/TypeScriptCompile.xaml.lcl
node_modules/typescript/loc/lcl/PLK/Targets/TypeScriptProjectProperties.xaml.lcl
node_modules/typescript/loc/lcl/PLK/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
node_modules/typescript/loc/lcl/PLK/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
node_modules/typescript/loc/lcl/PLK/TypeScriptTasks/TypeScript.Tasks.dll.lcl
node_modules/typescript/loc/lcl/PTB/Targets/ProjectItemsSchema.xaml.lcl
node_modules/typescript/loc/lcl/PTB/Targets/TypeScriptCompile.xaml.lcl
node_modules/typescript/loc/lcl/PTB/Targets/TypeScriptProjectProperties.xaml.lcl
node_modules/typescript/loc/lcl/PTB/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
node_modules/typescript/loc/lcl/PTB/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
node_modules/typescript/loc/lcl/PTB/TypeScriptTasks/TypeScript.Tasks.dll.lcl
node_modules/typescript/loc/lcl/RUS/Targets/ProjectItemsSchema.xaml.lcl
node_modules/typescript/loc/lcl/RUS/Targets/TypeScriptCompile.xaml.lcl
node_modules/typescript/loc/lcl/RUS/Targets/TypeScriptProjectProperties.xaml.lcl
node_modules/typescript/loc/lcl/RUS/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
node_modules/typescript/loc/lcl/RUS/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
node_modules/typescript/loc/lcl/RUS/TypeScriptTasks/TypeScript.Tasks.dll.lcl
node_modules/typescript/loc/lcl/TRK/Targets/ProjectItemsSchema.xaml.lcl
node_modules/typescript/loc/lcl/TRK/Targets/TypeScriptCompile.xaml.lcl
node_modules/typescript/loc/lcl/TRK/Targets/TypeScriptProjectProperties.xaml.lcl
node_modules/typescript/loc/lcl/TRK/TypeScriptDebugEngine/TypeScriptDebugEngine.dll.lcl
node_modules/typescript/loc/lcl/TRK/TypeScriptLanguageService/Microsoft.CodeAnalysis.TypeScript.EditorFeatures.dll.lcl
node_modules/typescript/loc/lcl/TRK/TypeScriptTasks/TypeScript.Tasks.dll.lcl
